<li class="dd-item dd3-item" id="li-0-1" data-id="0-1">
    <div class="dd-handle dd3-handle">Drag</div>
    <div class="dd3-content"><b><em>1</em> level 1</b><span class="crud-buttons pull-right" style="margin-top: -4px;"
                                                            data-id="cdb3f179-0f87-77e5-fb9d-ad25187aea3e"><span
            class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
            class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
            class="btn btn-xs btn-danger delete"><i class="glyphicon glyphicon-remove"></i></span>  </span></div>
    <ol>
        <li class="dd-item dd3-item" id="li-0-1-2" data-id="0-1-2">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content"><b><em>2</em> level 2</b><span class="crud-buttons pull-right"
                                                                    style="margin-top: -4px;"
                                                                    data-id="d2093c6e-a019-55eb-87ca-80194a0e3a0e"><span
                    class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
                    class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
                    class="btn btn-xs btn-danger delete"><i class="glyphicon glyphicon-remove"></i></span>  </span>
            </div>
            <ol>
                <li class="dd-item dd3-item" id="li-0-1-2-3" data-id="0-1-2-3">
                    <div class="dd-handle dd3-handle">Drag</div>
                    <div class="dd3-content"><b><em>3</em> level 3</b><span class="crud-buttons pull-right"
                                                                            style="margin-top: -4px;"
                                                                            data-id="599eb2b3-40e2-1834-09ed-05b0b601e868"><span
                            class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
                            class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
                            class="btn btn-xs btn-danger delete"><i
                            class="glyphicon glyphicon-remove"></i></span>  </span></div>
                    <ol>
                        <li class="dd-item dd3-item" id="li-0-1-2-3-4" data-id="0-1-2-3-4">
                            <div class="dd-handle dd3-handle">Drag</div>
                            <div class="dd3-content"><b><em>4</em> level 4</b><span class="crud-buttons pull-right"
                                                                                    style="margin-top: -4px;"
                                                                                    data-id="68a901bb-4707-1d75-48e1-8ff4749bf810"><span
                                    class="btn btn-xs btn-warning add"><i
                                    class="glyphicon glyphicon-plus"></i></span> <span
                                    class="btn btn-xs btn-primary edit"><i
                                    class="glyphicon glyphicon-pencil"></i></span> <span
                                    class="btn btn-xs btn-danger delete"><i
                                    class="glyphicon glyphicon-remove"></i></span>  </span></div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</li>
<li class="dd-item dd3-item" id="li-0-5" data-id="0-5">
    <div class="dd-handle dd3-handle">Drag</div>
    <div class="dd3-content"><b><em>5</em> level 1</b><span class="crud-buttons pull-right" style="margin-top: -4px;"
                                                            data-id="ec26c46b-0f09-2651-3f81-f0746c696b33"><span
            class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
            class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
            class="btn btn-xs btn-danger delete"><i class="glyphicon glyphicon-remove"></i></span>  </span></div>
</li>
<li class="dd-item dd3-item" id="li-0-6" data-id="0-6">
    <div class="dd-handle dd3-handle">Drag</div>
    <div class="dd3-content"><b><em>6</em> level 1</b><span class="crud-buttons pull-right" style="margin-top: -4px;"
                                                            data-id="4c4f4820-f821-2640-44e1-3b67b8823b8e"><span
            class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
            class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
            class="btn btn-xs btn-danger delete"><i class="glyphicon glyphicon-remove"></i></span>  </span></div>
    <ol>
        <li class="dd-item dd3-item" id="li-0-6-7" data-id="0-6-7">
            <div class="dd-handle dd3-handle">Drag</div>
            <div class="dd3-content"><b><em>7</em> level 2</b><span class="crud-buttons pull-right"
                                                                    style="margin-top: -4px;"
                                                                    data-id="aa2ac7bc-ed9c-b238-bb23-4e7f71636968"><span
                    class="btn btn-xs btn-warning add"><i class="glyphicon glyphicon-plus"></i></span> <span
                    class="btn btn-xs btn-primary edit"><i class="glyphicon glyphicon-pencil"></i></span> <span
                    class="btn btn-xs btn-danger delete"><i class="glyphicon glyphicon-remove"></i></span>  </span>
            </div>
        </li>
    </ol>
</li>
